<section class="veiw">
    <h1>gallery</h1>
    <div ng-show="loggedIn" class="form1">
        <div class="input">
            <h1 class="form">Title</h1>
            <input ng-model="temple.title" type="text">
        </div>
        <div class="input">
            <h1 class="form">Main Image</h1>
            <input ng-model="temple.mainImg" type="tel">
        </div>
        <div class="input">
            <h1 class="form">Additinal Images</h1>
            <input ng-model="image" type="text">
            <button ng-click="addImg(image)" class="form">Add</button>
        </div>
        <div class="gallery" ng-show="temple">
            <div class="title">
                <h1 class="all">{{ temple.title }}</h1></div>
            <div class="mainImg"><img class="mainImg" ng-src="{{ temple.mainImg }}" alt=""></div>
            <div ng-repeat="img in temple.otherImgs track by $index" class="imgs">
                <img ng-src="{{ img }}" alt="" class="mainImg">
                <div class="input">
                    <button ng-click="deleteTempleImg($index)" class="form">Delete</button>
                </div>
            </div>
        </div>
        <div class="input">
            <button ng-hide="edit" ng-click="addTemples(temple)" class="form">Submit</button>
            <button ng-show="edit" ng-click="finalizeTemple(temple)" class="form">Finalize</button>
        </div>
    </div>


    <div ng-repeat="item in gallery" class="gallery">
        <!--       maby move title into mainimg-->
        <div class="title">
            <h1 class="all">{{ item.title }}</h1></div>
        <div class="mainImg"><img class="mainImg" ng-src="{{ item.mainImg }}" alt=""></div>
        <div ng-init="index=0; classes=['imgs', 'focusImg']" ng-click="index = index + 1" ng-class="classes[index % classes.length]" ng-repeat="img in item.otherImgs" style="background-image: url({{ img }});  background-repeat: no-repeat; background-position: center; background-size: cover;"></div>
        <div ng-show="loggedIn" class="input">
            <button ng-click="deleteTemple(item)" class="form">Delete</button>
            <button ng-click="editTemple(item)" class="form">Edit</button>
        </div>
    </div>
</section>