<section class="veiw">
    <div class="form">
        <div class="input">
            <h1 class="form">UserName</h1>
            <input ng-model="user.name" type="text">
        </div>
        <div class="input">
            <h1 class="form">Password</h1>
            <input ng-model="user.password" type="password">
        </div>
        <div class="input">
            <h1 class="form">Admin</h1>
                <input ng-model="user.admin" type="radio" name="admin" value="true">
                <input type="radio" name="admin" value="false">
        </div>
        <div class="input">
            <button ng-click="signUp(user)" class="form">Sign Up</button>
        </div>
    </div>
</section>